<ion-card>
  <ion-card-header>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="post.user.avatar" alt="User avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ post.user.name }}</h2> <p>{{post.user.date}}</p>
      </ion-label>
    </ion-item>
  </ion-card-header>

  <img [src]="post.image" alt="Post image" />



  <ion-card-content>
    {{ post.content }}
  </ion-card-content>

  <ion-row>
    <ion-col>
      <ion-button fill="clear" (click)="likePost()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" (click)="commentPost()">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" (click)="sharePost()">
        <ion-icon name="share-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>
