// ion-card {
//     margin: 0;
//     border-radius: 0;
//   }
  
//   ion-card-header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
  
//   ion-card-title {
//     font-size: 1.2em;
//     font-weight: bold;
//   }
  
//   ion-card-subtitle {
//     font-size: 0.9em;
//     color: gray;
//   }
  
//   ion-card-content {
//     font-size: 1em;
//   }
  
//   ion-row {
//     display: flex;
//     justify-content: center; /* Cambiado a center para centrar los botones */
//     padding: 10px 0;
//   }
  
//   ion-col {
//     display: flex;
//     justify-content: center; /* Centrar los botones dentro de cada columna */
//   }
  
  ion-button {
    align-content: center;
    align-tracks: center;
    --padding-start: 40px;
    --padding-end: 35px;
  }